name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build & Push Backend
        run: |
          docker build -t abivarmang/backend:latest ./backend
          docker push abivarmang/backend:latest

      - name: Build & Push Frontend
        run: |
          docker build -t abivarmang/frontend:latest ./frontend
          docker push abivarmang/frontend:latest

      - name: Ensure Namespace Exists
        run: kubectl create namespace app-namespace --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy MongoDB
        run: kubectl apply -f k8s/mongodb.yaml

      - name: Deploy Backend
        run: kubectl apply -f k8s/backend.yaml

      - name: Deploy Frontend
        run: kubectl apply -f k8s/frontend.yaml

      - name: Restart Deployments (Pull Latest Image)
        run: |
          kubectl rollout restart deployment/backend -n app-namespace
          kubectl rollout restart deployment/frontend -n app-namespace

      - name: Verify Rollout
        run: |
          kubectl rollout status deployment/mongodb -n app-namespace --timeout=120s
          kubectl rollout status deployment/backend -n app-namespace --timeout=120s
          kubectl rollout status deployment/frontend -n app-namespace --timeout=120s
