name: Local Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build Backend Image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest ./backend

    - name: Build Frontend Image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest ./frontend

    - name: Push Backend Image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest

    - name: Push Frontend Image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest

    - name: Deploy to Kubernetes
      run: kubectl apply -f k8s/
